.notifications-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: #fff;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  z-index: 1000;
  animation: slideUp 0.4s ease-out;
  border-left: 6px solid #4CAF50;
  text-align: left;
}

.notifications-card h4 {
  margin: 0 0 10px;
  font-size: 1.125rem;
  color: #333;
}

.notifications-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .notifications-card.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  } */

  @media (max-width: 576px) {
  .notifications-card {
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    max-width: calc(100% - 20px);
    padding: 16px 12px;
    font-size: 13px;
    border-radius: 10px;
  }

  .notifications-card h3 {
    font-size: 16px;
  }

  .notifications-card p {
    font-size: 13px;
  }
}


@media (max-width: 768px) {
  .btn-close-mobile {
    background: transparent;
    border: none;
    font-size: 1rem;
    float: right;
    color: red;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
  }
  .btn-close-mobile:hover {
    color: #fff
  }
}

.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}